@media only screen and (max-width: 800px){

    .navbar ul{
        display: none;
    }

    .navbar{
        width: 70%;
    }

    .home{
        flex-direction: column-reverse;
        height: 80vh;
        padding-top: 80px;
    }


    .home-img .img-box{
        width: 40vh;
        height: 40vh;
        
        
    }

    .home-info{
        margin-top: 40px;
    }

    .about{
        grid-template-columns: repeat(1, 1fr);
        padding-left: 40px;
    }

    .container{
        padding: 0;
        
    }

    .sub-title{  
      margin-top: 50px;
    }

    .container1{
        width: 700px;
        margin-left: 70px;

    }

    .sub-title{
        padding-bottom: 0;
    }

    .main-text h2{
        padding-left: 0;
    }

    .portfolio-content {
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 30px;
    }

    .contact-text h2{
        font-size: 68px;
    }   
    
}

@media only screen and (min-width: 800px){
    .div{
        display: none;
    }
}

