@media only screen and (max-width: 800px){

    .navbar ul{
        display: none;
    }

    .navbar{
        width: 70%;
    }

    .home{
        flex-direction: column-reverse;
        height: 70vh;
    }

    .home-img{
        width: 100px;
        height: 300px;
    }

    .home-img .img-box .img-item{
        width: 160%;
        height: 140%;
        
    }

    .img-box{
        width: 160%;
        height: 200%;
    }

    .img-item{
        width: 160%;
        height: 200%;
    }

    



   
    
    
}

@media only screen and (min-width: 800px){
    .div{
        display: none;
    }
}

